.home {
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;

  .bg-home {
    margin-top: 80px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-image: url("../../assets/vases4.jpg");
    //background-repeat: repeat;
    //background-repeat: no-repeat;
    background-position: right top;
    background-color: #c2a78a;
  }

  .details {
    position: absolute;
    text-align: center;
    width: 80%;

    h1 {
      font-size: 48px;
      color: white;
    }

    p {
      color: white;
      font-size: 24px;
      font-weight: 500;
      align-items: center;
    }

    button {
      background-color: #f44336;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  }
}
