.loginPage {
  display: grid;
  place-items: center;
  background-color: var(--dried-leaf);
  height: 100vh;
  width: 100vw;
}

.title {
  color: var(--brown-orange);
  margin-bottom: 50px;
  text-align: center;
}

.icon {
  block-size: 1em;
  display: inline-block;
  fill: var(--bush-green);
  inline-size: 1em;
  vertical-align: middle;
}

.grid {
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 20rem;
}

.grid .form {
  display: grid;
  gap: var(--formGap);
}

.grid .form input[type="password"],
.grid .form input[type="text"],
.grid .form input[type="submit"] {
  inline-size: 100%;
}

.grid .login {
  color: var(--mehendi);
}

.grid .login label,
.grid .login input[type="text"],
.grid .login input[type="password"],
.grid .login input[type="submit"] {
  border-radius: 0.25rem;
  padding: 1rem;
}

.grid .login label {
  background-color: var(--grass);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-inline: 1.25rem;
}

.grid .login input[type="password"],
.grid .login input[type="text"] {
  background-color: var(--grass);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.grid .login input[type="password"]:focus,
.grid .login input[type="password"]:hover,
.grid .login input[type="text"]:focus,
.grid .login input[type="text"]:hover {
  background-color: var(--dried-grass);
}

.grid .login input[type="submit"] {
  background-color: var(--brown);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.grid .login input[type="submit"]:focus,
.grid .login input[type="submit"]:hover {
  background-color: var(--med-brown);
}

.grid .form__field {
  display: flex;
}

.grid .form__field .form__input {
  flex: 1;
}

.grid .form__field .hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.grid .form__field input {
  background-image: none;
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

.grid .form__field input::placeholder {
  color: var(--cream);
}

.grid .form__field input[type="submit"] {
  cursor: pointer;
}

.icons {
  display: none;
}

.signup {
  color: var(--mehendi);
  outline: 0;
  text-decoration: none;
}

.signup:focus,
.signup:hover {
  color: var(--brown-orange);
}

.text {
  margin-block: 1.5rem;
}

.text--center {
  text-align: center;
}
