@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Mukta+Mahee:wght@300&display=swap");

.footer {
  background-color: var(--brown-orange);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.footer .wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .wrapper input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-family: "Cinzel", sans-serif;
  color: var(--brown-orange);
}

.footer .wrapper button {
  padding: 10px;
  color: white;
  background: var(--brown-orange);
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
}

.footer .wrapper .icons {
  display: flex;
  gap: 10px;
}
