.artisansProfile {
  padding: 20px 50px;
  display: flex;
  margin-top: 80px;
  gap: 50px;
}

.artisansProfile .left {
  flex: 1;
  display: flex;
  gap: 20px;
}

.artisansProfile .left .images {
  flex: 1;
}

.artisansProfile .left .images img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  margin-bottom: 10px;
}

.artisansProfile .left .mainImg {
  flex: 5;
}

.artisansProfile .left .mainImg img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.artisansProfile .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.artisansProfile .right h1 {
  font-weight: 500;
  line-height: 20px;
}

.artisansProfile .right .price {
  font-size: 30px;
  color: var(--grass);
  font-weight: 700;
}

.artisansProfile .right p {
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}

.artisansProfile .right .quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.artisansProfile .right .quantity button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: var(--skin-color);
}

.artisansProfile .right .quantity button:hover {
  background-color: var(--cream);
}

.artisansProfile .right .add {
  width: 250px;
  padding: 10px;
  background-color: var(--grass);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  transition: all 0.5ms ease-in-out;
}

.artisansProfile .right .add:hover {
  background-color: var(--bush-green);
}

.artisansProfile .right .links {
  display: flex;
  gap: 20px;
}

.artisansProfile .right .links .item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--bush-green);
  font-size: 14px;
}

.artisansProfile .right .links .item:hover {
  color: var(--grass);
}

.artisansProfile .right .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--mehendi);
  font-size: 14px;
  margin-top: 20px;
}

.artisansProfile .right .info hr {
  width: 200px;
  border: 1px solid rgb(238, 237, 237);
}

.artisansProfile .right .details {
  color: var(--bush-green);
  font-weight: 600;
  margin-top: 20px;
}

.artisansProfile hr {
  border: 1px solid rgb(238, 237, 237);
}
