/* card.css */


/* Styles for links within the card */
.link {
  text-decoration: none;
  color: var(--brown-orange);
}

/* Styles for the card container */
.card {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  transition: all 100ms ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

/* Styles for the image container */
.card .image {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  background-color: var(--yellow);
  transition: all 0.5s ease-in-out;
}

.card .image:hover .secondImg {
  z-index: 2;
}

.card .image img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styles for the main image */
.card .image .mainImg {
  z-index: 1;
}

.card .image span {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  color: var(--brown);
  padding: 3px 5px;
  z-index: 3;
  font-weight: 700;
  font-size: 12px;
}

/* Styles for the heading */
.card h2 {
  font-size: 18px;
  font-weight: 400;
}

/* Styles for the price */
.card .prices {
  display: flex;
  gap: 20px;
  line-height: 1px;
}

.card .prices h3 {
  font-size: 18px;
  font-weight: 500;
}

.card .prices h3:first-child {
  color: var(--brown);
  text-decoration: line-through;
}
